@font-face {
    font-family: 'robotobold';
    src: url('../fonts/webfonts/roboto-bold-webfont.eot');
    src: url('../fonts/webfonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/webfonts/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('../fonts/webfonts/roboto-thin-webfont.eot');
    src: url('../fonts/webfonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/webfonts/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/webfonts/roboto-regular-webfont.eot');
    src: url('../fonts/webfonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/webfonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/webfonts/robotocondensed-bold-webfont.eot');
    src: url('../fonts/webfonts/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfonts/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../fonts/webfonts/robotocondensed-bold-webfont.woff') format('woff'),
         url('../fonts/webfonts/robotocondensed-bold-webfont.ttf') format('truetype'),
         url('../fonts/webfonts/robotocondensed-bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;

}